<h3 class="toggle">Sources timeline</h3>
<div id="home_timeline">
<%= timeline('tl', 
	:bands => [{
		:width => "70%",
		:intervalUnit => 'DECADE',
		:intervalPixels => 100,
		:layout => 'original',
		},
		{
			:width => "30%",
			:intervalUnit => 'CENTURY',
			:intervalPixels => 80,
			:layout => 'original',
			:syncWith => 0,
			:overview => true,
			:highlight => true
			}
                ], :data => { :source_finder => @conditions, :color => "#567DBB", :start_property => [N::DEMO.birth_date, N::DEMO.beginning_date, N::DEMO.date], :end_property => [N::DEMO.death_date, N::DEMO.finished_in, N::DEMO.end_date] } )%>
</div>

<h3 class="toggle closed">Sources map</h3>
<%
    sources = TaliaCore::ActiveSource.find(:all, :prefetch_relations => true) 
    coordinates = []
    sources.each do |src|
        unless(src[N::DEMO.coordinates].blank?)
            coordinates << src[N::DEMO.coordinates].first.split(',')
        end
    end
%>
<%= render :partial => 'google_multi', :locals => { :coordinates => coordinates } %>


<h3 class="toggle">Filter</h3>
<div id="home_filter">
<%= ipod_dropdown('filter by type', N::SourceClass.subclass_hierarchy { |sc| sc.used? && (sc.to_uri.namespace != :owl) && (sc.to_uri.namespace != :rdfs) && (sc.to_uri.namespace != :rdf) && (sc.to_uri.namespace != :talia)}) { |t| filter_link_for(t) }%>
</div>


<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#sources_table").tablesorter();
    } 
);
</script>

<%= link_to 'clear filter', :action => 'index' if(params[:filter]) %>

<div class="sources_list">

<h3>Sources found: <%= @sources.total_entries  %></h3>


<table id="sources_table" class="tablesorter" style="width:100%;">
	<thead> 
	<tr> 
	    <th>Types</th> 
	    <th>Title</th>
	<th>Data</th>
	<th>View</th>  
	</tr> 
	</thead>
	<tbody>
<% for source in @sources %>
<% next if(source.is_a?(TaliaCore::SourceTypes::DummySource) || (!source.is_a?(TaliaCore::Source) && !source.is_a?(TaliaCore::ActiveSource))) %>


<tr class="<%= cycle("even", "odd") %>" about="<%= source.uri %>">
 <td>
	<span class="source_type"><%= type_images(source.types) %></span>
</td>
 <td>
	<span class="source_title" property="dc:title"><%= title_for(source) %></span>
 </td>
 <td>
	<span class="source-data"><%= data_icons(source.data_records) %></span>
 </td>
 <td>
	<span class="more"> <%= link_to 'more...', :action => 'dispatch', :dispatch_uri => N::URI.new(source.uri).local_name %></span>
 </td>
</tr>
<% end  %>
</tbody>
</table>
</div>

<%= will_paginate @sources %>