<div class="back"><%= index_link %></div>

<h2><%= @source.uri.to_name_s %></h2>
<table>
  <% for attribute, value in @source.attributes %>
    <tr>
      <td><%= attribute %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  <% for predicate in @source.direct_predicates %>
    <tr>
      <td><%= predicate.to_name_s %></td>
      <td>
        <% @source[predicate].each do |val| %>
          <%= semantic_target(val)  %><br/>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% for predicate in @source.inverse_predicates %>
    <tr>
      <td><%= predicate.to_name_s %> (inverse relation)</td>
      <td>
        <% @source.inverse[predicate].each do |val| %>
          <%= semantic_target(val)  %><br/>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if(@source.data_records.size > 0) %>
  <h2>Data Records</h2>
  <% for record in @source.data_records %>
  <div><%= link_to(record.location, :controller => 'source_data', :action => 'show', :id => record.id)%>  (<%= record.mime %>)</div>
  <% end %>
<% end %>