<div class="back"><%= index_link %></div>

<%= render :partial => 'shared/swicky_ui_controls' %>

<h2><%= @source[N::DCNS.title].first || @source[N::RDFS.label].first || @source.uri.to_name_s %></h2>

<%= render(:partial => 'property_list') %>

<% for record in @source.data_records %>

<% if record.is_a?(TaliaCore::DataTypes::IipData) %>

<%= iip_flash_viewer(record, 600, 600)%>

<% end %>

<% end %>

<% if(@source.data_records.size > 0) %>
  <h2>Data Records</h2>
  <%= render(:partial => 'data_list') %>
<% end %>

<% for record in @source.data_records %>
	<% if(record.is_a?(TaliaCore::DataTypes::XmlData)) %>
		<% element_uri = (@source.uri + "#data#{record.id}").to_s %>
		<% if((ncount = Swicky::Notebook.annotation_list_for_url(element_uri).size) > 0)%>
		<h2>This element has <%= ncount %> annotations</h2>
		<% end %>
		<%= thctag(element_uri, record.content_string) %>
	<% end %>
<% end %>