<%
    id = "graph_#{@source_name.gsub(' ', '_')}"
%>

<div class='widget'>
    <div class='widgetHeader graph'>
        <h3 class='widgetHeaderTitle'>Graph</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent expanded graph'>

        <br /><br />
            <div id="<%= "container_#{id}" %>" class='resizeme' style='width: 400px; height: 400px;'>
                <div id="<%= id %>">Il grafo va qui.</div>
            </div>
            
        <script type="text/javascript"> 
			// <![CDATA[
			var so = new SWFObject("/GraphGear.swf", "<%= id %>", "400", "400", "8");
			so.addVariable("graphXMLFile", "/boxview/graph_xml/<%= Base64.encode64s(@source.uri.to_s) %>"); // rename to your xml file
			so.addParam("allowScriptAccess", "always");
			so.addParam("scale", "noborder");
			so.addParam("salign", "tl");
            so.write("<%= "container_#{id}" %>");           
			// ]]>
		</script>
    </div>
</div>