<div>

  <% if !@source[N::DEMO.birth_date].empty? %>
    Was born
    <%  if !@source[N::DEMO.birthplace].empty? %> in
      <% birthplace = TaliaCore::ActiveSource.find(@source[N::DEMO.birthplace].first) %>
      <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64(birthplace.to_s) %>&type=source">
        <%= title_for(birthplace) %>
      </a>
      on <%= @source[N::DEMO.birth_date].first %>. <br/>
    <% end %>

    <% if !@source[N::DEMO.death_date].empty? %>
      Has died
      <% deathplace = TaliaCore::ActiveSource.find(@source[N::DEMO.birthplace].first) %>
      <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64(deathplace.to_s) %>&type=source">
        <%= title_for(deathplace) %>
      </a>
      on <%= @source[N::DEMO.death_date].first %>. <br/>
    <% end %>
  <% end %>
</div>
<br/>

<% if !@source[N::DCNS.description].empty? %>
  <div>
    <%= @source[N::DCNS.description].first %> <br/>
  </div>
<% end %>