<div>

  <% if !@source[N::DEMO.birth_date].empty? %>
    Was born
    <%  if !@source[N::DEMO.birthplace].empty? %> in
      <%  unless @source[N::DEMO.birthplace].empty? %>
        <% birthplace = TaliaCore::ActiveSource.find(@source[N::DEMO.birthplace].first) %>
        <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64(birthplace.to_s) %>&type=source">
          <%= title_for(birthplace) %>
        </a>
      <% end %>
      on <%= @source[N::DEMO.birth_date].first %>. <br/>
    <% end %>

    <% if !@source[N::DEMO.death_date].empty? %>
      Has died
      <%  unless @source[N::DEMO.deathplace].empty? %>
        <% deathplace = TaliaCore::ActiveSource.find(@source[N::DEMO.deathplace].first) %>
        <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64(deathplace.to_s) %>&type=source">
          <%= title_for(deathplace) %>
        </a>
      <% end %>
      on <%= @source[N::DEMO.death_date].first %>. <br/>
    <% end %>
  <% end %>
</div>
<br/>

<% if !@source[N::DCNS.description].empty? %>
  <div>
    <%= @source[N::DCNS.description].first %> <br/>
  </div>
<% end %>