
<div class='widget'>

  <%= render :partial => 'description' %>


  <div class='widgetHeader metadata'>
    <h3 class='widgetHeaderTitle'>Relations</h3>
    <div class='widgetHeaderTools'>
      <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    </div>
  </div>
  <div class='widgetContent expanded metadata'>
    <% source_label = title_for(@source) %>
    <% if !@source[N::DEMO.birth_date].empty? %>
      <p> <%=  source_label %> was born

        in <%= @source[N::DEMO.birth_date].first %>

      <%  unless @source[N::DEMO.birthplace].empty? %> in
        <% birthplace = TaliaCore::ActiveSource.find(@source[N::DEMO.birthplace].first) %>
        <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(birthplace.to_s) %>&type=source">
          <%= title_for(birthplace) %>
        </a>
      <% end %>
      </p>
    <% end %>

    <% if !@source[N::DEMO.death_date].empty? %>
      <p><%=  source_label %> died
        in <%= @source[N::DEMO.death_date].first %>

      <%  unless @source[N::DEMO.deathplace].empty? %> in
        <% deathplace = TaliaCore::ActiveSource.find(@source[N::DEMO.deathplace].first) %>
        <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(deathplace.to_s) %>&type=source">
          <%= title_for(deathplace) %>
        </a>
      <% end %>
      </p>
    <% end %>
  

  <% unless (ruled = @source.inverse[N::DEMO.ruler].first).nil? %>
  <p><%= source_label %> was the ruler of the
    <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(ruled.to_uri.to_s) %>&type=source">
      <%= title_for(ruled) %>
    </a>
  </p>
  <% end %>

  <% unless (author_of = @source.inverse[N::DEMO.author]).empty? %>
  <p>
    <% i = 1 %>
    <%=  source_label %> is the author of <%  author_of.each do |c| %>
      <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(c.to_uri.to_s) %>&type=source">
      <%= title_for(c) %></a><% if i < author_of.count %>, <%end%><% i = i + 1 %>
     <% end %>
  </p>
  <% end %>

  <% unless (cited_in = @source[N::DEMO.cited_in]).empty?  %>
  <p>
    <% i = 1 %>
    <%=  source_label %> is cited in <%  cited_in.each do |c| %>
      <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(c.to_uri.to_s) %>&type=source">
      <%= title_for(c) %></a><% if i < cited_in.count %>, <%end%><% i = i + 1 %>
     <% end %>
  </p>
  <% end %>



  <%= render :partial => 'more_info' %>
  </div>

  <%= render :partial => 'images'  %>
</div>