<div class='widget'>

  <%= render :partial => 'google_map' %>

  <%= render :partial => 'description' %>


  <div class='widgetHeader metadata'>
    <h3 class='widgetHeaderTitle'>Relations</h3>
    <div class='widgetHeaderTools'>
      <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    </div>
  </div>
  <div class='widgetContent expanded metadata'>

    <% source_label = title_for(@source) %>

    <% unless (commissioned_by = @source[N::DEMO.commissioned_by]).empty? or
        (beginning_date = @source[N::DEMO.beginning_date].first).nil? or
        (finished_in = @source[N::DEMO.finished_in].first).nil?
    %>

      <p>
        The <%=  source_label %> was commisioned by <%  commissioned_by.each do |c| %>
          <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(c.to_uri.to_s) %>&type=source"><%= title_for(c) %></a>,
        <% end %>
        its contruction began in <%= beginning_date %> and it was finished in <%= finished_in %>.
      </p>
    <% end %>


    <% unless (period = @source[N::DEMO.period].first).nil? %>
      <p>
        The <%= source_label %> was built during the
        <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(period.to_uri.to_s) %>&type=source"><%= title_for(period) %></a>
      </p>
    <% end %>

    <% unless (type_of_decoration = @source[N::DEMO.type_of_decoration].first).nil? %>
      <p>
        The <%= source_label %> is an example of
        <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(type_of_decoration.to_uri.to_s) %>&type=source"><%= title_for(type_of_decoration) %></a>
      </p>
    <% end %>



    <% unless (religious_significance = @source[N::DEMO.religious_significance].first).nil? %>
      <p>
       The <%= source_label %> is a important place for the religious event known as
        <a class="resource" href="/boxView/dispatch?method=getSource&resource=<%= Base64.encode64s(religious_significance.to_uri.to_s) %>&type=source"><%= title_for(religious_significance) %></a>,
      </p>
    <% end %>

    <%= render :partial => 'more_info' %>
  </div>


</div>